<div class="container w-25">

  <div class="d-flex justify-content-between align-items-center">
    <h2>プロフィール</h2>
    <%= link_to "編集", profile_edit_path, class:"text-secondary" %>
  </div>
  
  <hr>

  <table class="table table-borderless">
    <tr>
      <td>アイコン画像</td>
      <td>
        <% if @user.image? %>
          <%= image_tag @user.image.url, class:"user-image-profile" %>
        <% else %>
          <%= image_tag "profile_default.png", class:"user-image-profile" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>

</div>
