<div class="container">

  <p>アイコン画像：</p>
  <% if @user.image? %>
    <%= image_tag @user.image.url, class:"user-image-profile" %>
  <% else %>
    <%= image_tag "/profile_default.png", class:"user-image-profile" %>
  <% end %>
  
  <p>名前：<%= @user.name %></p>
  <p>自己紹介：<%= @user.introduction %></p>

  <%= link_to "編集", profile_edit_path %>

</div>
