<div class="container w-25">
  <h2>予約内容の確認</h2>
  <table class="table table-borderless mt-3">
    <tr>
      <td scope="col" style="width: 50%">チェックイン</td>
      <td scope="col" style="width: 50%"><%= l @reservation.checkin_date %></td>
    </tr>
    <tr>
      <td>チェックアウト</td>
      <td><%= l @reservation.checkout_date %></td>
    </tr>
    <tr>
      <td>日数</td>
      <td><%= @days %>泊</td>
    </tr>
    <tr>
      <td>人数</td>
      <td><%= @reservation.headcount %>人</td>
    </tr>
    <tr>
      <td>お支払い金額</td>
      <td>¥<%= @total_fee.to_s(:delimited) %></td>
    </tr>
  </table>


    <%= form_with model:@reservation do |f| %>
      <%= f.hidden_field :checkin_date, value: @reservation.checkin_date %>
      <%= f.hidden_field :checkout_date, value: @reservation.checkout_date %>
      <%= f.hidden_field :headcount, value: @reservation.headcount %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "確定する", class:"btn btn-warning mt-3 mb-3" %>
    <% end %>

    <p><%= link_to "戻る", :back, class:"text-secondary" %></p>

</div>

