<div class="container">
  <p>検索結果：<%= @results.count %>件</p>

  <% @results.each do |result| %>
    <ul>
      <% if result.room_image? %>
        <li><%= image_tag result.room_image.url %></li>
      <% else %>
        <li><%= image_tag "/room_default.png" %></li>
      <% end %>
      <li><%= link_to result.room_name, room_path(result) %></li>
      <li><%= result.address %></li>
      <li><%= result.room_detail %></li>
      <li><%= result.fee %></li>
    </ul>
  <% end %>
</div>
